header {
  background-color: yellow;
  text-align: center;
}

.input-table input {
  width: 100%;
}

#editButton {
  background-color: green;
  color: white;
}

.edit-nav {
  background-color: green;
}